@model ResultCollectionDto

<section class="collection bg-light position-relative py-5">
    <div class="container">
        <div class="row">
            <div class="title-xlarge text-uppercase txt-fx domino">Collection</div>
            <div class="collection-item d-flex flex-wrap my-5 align-items-stretch">
                <div class="col-md-6 column-container p-0">
                    <div class="image-holder h-100">
                        <img src="@Model.ImageUrl"
                             alt="@Model.Tittle"
                             class="product-image img-fluid w-100 h-100"
                             style="object-fit: cover; min-height: 400px;">
                    </div>
                </div>
                <div class="col-md-6 column-container bg-white p-0">
                    <div class="collection-content p-5 h-100 d-flex flex-column justify-content-center">
                        <h3 class="element-title text-uppercase">@Model.Tittle</h3>
                        <p>@Model.Description</p>
                        <div class="mt-3">
                            <a href="#" class="btn btn-dark text-uppercase">Koleksiyonu İncele</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>