@*
    _FeatureComponent
*@
<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Mağazadan Randevu</h4>
                    <p>Size özel stil danışmanlığı ve konforlu bir alışveriş deneyimi için randevunuzu hemen oluşturun.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#shopping-bag"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Mağazadan Teslim Al</h4>
                    <p>Online sipariş verin, kargo beklemeden size en yakın mağazamızdan ücretsiz teslim alın.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#gift"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Özel Hediye Paketi</h4>
                    <p>Sevdiklerinizi mutlu edin. Siparişlerinizi özenle hazırlanmış şık hediye paketleriyle gönderiyoruz.</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-cycle"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">Kolay ve Ücretsiz İade</h4>
                    <p>Memnun kalmadığınız ürünlerde, koşulsuz ve ücretsiz iade garantisi sunuyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section>