@model IEnumerable<ResultMarkaDto>

<section class="logo-bar py-5 my-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">

            @foreach (var item in Model)
            {
                <div class="col-3 text-center">
                    <img src="@item.MarkaImg" alt="logo" class="img-fluid" style="max-height: 120px; width: auto; object-fit: contain;">
                </div>
            }

        </div>
    </div>
</section>