@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponent")

<body class="homepage">
   
    @await Component.InvokeAsync("_SymbolComponent")

    @await Component.InvokeAsync("_SerachComponent")

    @await Component.InvokeAsync("_NavbarComponent")

    @await Component.InvokeAsync("_CollectionComponent")

    @await Component.InvokeAsync("_FeatureComponent")

    @await Component.InvokeAsync("_CategoryComponent")

    @await Component.InvokeAsync("_ProductComponent")

    @await Component.InvokeAsync("_SelectCollectionComponent")

    @await Component.InvokeAsync("_Last4ProductComponent")

    @await Component.InvokeAsync("_VideoComponent")

    @await Component.InvokeAsync("_TestimonialComponent")

    @await Component.InvokeAsync("_First4ProductComponent")

    @await Component.InvokeAsync("_MarkaComponent")

    @await Component.InvokeAsync("_NewslatterComponent")

    @await Component.InvokeAsync("_InstagramComponent")

    @await Component.InvokeAsync("_FooterComponent")

    @await Component.InvokeAsync("_ScriptComponent")


</body>

</html>