@model CreateTestimonialDto
@{
    ViewData["Title"] = "CreateTestimoanial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Referans Oluştur</h3>

<form method="post" class="form-group">
    <label>Ad Soyad</label>
    <input type="text" asp-for="NameSurname" class="form-control"  />
    <br />
    <label>Yorum</label>
    <input type="text" asp-for="Comment" class="form-control"  />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

